@use "mixins";
@use "variables" as v;
@use "reset";

.contact {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 40px;
  @include mixins.desktop {
    padding: 200px;
  }

  &__smallheader {
    @include mixins.headerh3;
    padding: 10px 0px 10px 0px;
    text-align: start;
    @include mixins.desktop {
      font-size: 2em;
    }
  }

  &__infotext {
    font-family: "Montserrat";
    font-size: 12px;
    line-height: 1.9em;
    font-weight: 400;
    text-align: start;
    padding-top: 15px;
    @include mixins.desktop {
      font-size: 14px;
    }
  }

  .contact_header {
    @include mixins.headerh2;
    justify-content: center;
    text-align: start;
    @include mixins.desktop {
      font-size: 9em;
    }
  }
}
