@use "mixins";
@use "variables" as v;
@use "reset";

.experience {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 40px;
  background-color: white;
  @include mixins.desktop {
    padding: 250px;
  }

  &__smallheader {
    @include mixins.headerh3;
    padding: 10px 0px 10px 0px;
    text-align: start;
    @include mixins.desktop {
      font-size: 2em;
    }
  }
}

.experience_header {
  @include mixins.headerh2;
  justify-content: center;
  text-align: start;
  @include mixins.desktop {
    font-size: 9em;
  }
}
