@use "mixins";
@use "variables" as v;
@use "reset";

.startpage {
  display: flex;
  height: 100vh;

  &__text {
    color: v.$primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-size: 1em;
    padding: 60px;
  }

  &__portrait {
    @include mixins.image;
  }

  &__infobox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    background-color: white;
    width: 80%;
    height: 40%;
    @include mixins.desktop {
      width: 50%;
    }
  }
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  &__image {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: dotted 2px #4b2d29;
    margin: 50px;
  }

  &__name {
    font-size: 30px;
  }

  &__description {
    font-size: 12px;
    background-color: white;
  }
}
